---
---

@import "main";

.language-switch {
  display: flex;           /* align link vertically with menu items */
  align-items: center;     /* vertical centering */
  margin-left: 1rem;       /* spacing from menu links */
  font-size: 0.9rem;
}

.language-switch a {
  display: inline-flex;   /* match menu link behavior */
  align-items: center;    /* vertical center */
  font-weight: 600;
  opacity: 0.8;
  margin-left: 1rem;

}

.language-switch a:hover {
  opacity: 1;
}
